@use "../../assets/styles/variables" as *;

.button {
  min-width: 1.5rem;
  padding: 0.625rem 0.625rem;
  border-radius: 1rem;

  &.button--incDec {
    background-color: orange;
    border: none;
  }

  &.button--login{
    background-color: transparent;
    border: 0.125rem solid $color-primary;
  }
}