.counter {
    display: flex;
    justify-content: space-between;
    max-width: 9rem;
    padding: 2 rem;
    border-radius: 2rem;
    background-color: grey;
    margin: 1rem;
}

.button--incDec {
    min-width: 2rem;
    padding: 0.625rem 0.625rem;
    border-radius: 1rem;
    background-color: rgb(48, 206, 206);
    font-size: larger;
    }