@use "../../assets/styles/variables" as *;
 
.my-tile__content {
  margin-left: 1.5rem;
  background-color: gray;
  border-radius: 1rem;
  max-width: 18rem;
  padding: 2rem;


  .my-tile__welcome{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
  }

  .employee-tile__info{
    font-size :1rem;
  }

  
};



