 @use "./assets/styles/_variables" as *;

 .app {
  color: $color-black;

    .appName {
      text-align: center;
      padding: 0 3.125rem;
    }

      .appName__heading {
        color: $color-black;
        font-size: 2rem;
        font-weight: bold;
      }
  }


@media screen and (min-width: $desktop-breakpoint) {
    .app {
      max-width: 75rem;
      margin: 0 auto;
      display: grid;
      gap: 3.125rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, min-content);

      .greeting {
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
}