 @use "./assets/styles/_variables" as *;

 .app {
  color: $color-black;
  padding: 1rem;

    .appName {
      text-align: center;
      padding: 0 2rem;
    }

    .appName__heading {
      color: $color-black;
      font-size: 2rem;
      font-weight: bold;
      margin: 1rem;
    }

    .user-section {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      max-height: 12 rem;
    }

    .employee-tile {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: 1rem;
      margin-top: 0;
    }

    .employee-tiles__heading {
      text-align: center;
      color: rgb(4, 60, 60);
    }

    .search-colleagues {
      display: flex;
      flex-direction: row;
      margin-bottom: 0;
    }

  }


 